{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  
    <div class="w-full overflow-hidden hidden md:block">
      {% srcset_image page.banner width-{400,2000} class="w-full object-cover" style="height: 75vh!important" %}
    </div>
    <div class="w-full overflow-hidden block md:hidden">
      {% srcset_image page.banner_sm width-{200,2000} class="w-full object-cover" %}
    </div>    

    <section id="division" class="flex flex-wrap m-0">
      <div class="flex-1 h-10 bg-orange"></div>
      <div class="flex-1 h-10 bg-pink"></div>
      <div class="flex-1 h-10 bg-purple"></div>
      <div class="flex-1 h-10 bg-yellow"></div>
      <div class="flex-1 h-10 bg-green"></div>
      <div class="flex-1 h-10 bg-blue"></div>
    </section>
    
    <div class="bg-black container mx-auto py-7">
        <h1 class="text-center text-3xl text-white mb-10 font-bold">{{ page.hero_cta }}</h1>
        <div class="grid lg:grid-cols-3 gap-4 justify-center">
          {% for post in posts %}
          <div class="px-5 mb-5 h-full">

            <div class="bg-white rounded-lg shadow-md h-full">
              <a href="{{post.get_url}}" class="flex flex-col h-full">
                {% srcset_image post.banner width-{400,800} sizes="(max-width: 600px) 400px, 80vw" class="w-full h-40 object-cover rounded-t-lg" %}
                <div class="p-4 flex flex-col justify-between flex-1">
                  <div>
                    <p class="mb-3">
                      {% for tag in post.tags.all %}
                        <span class="mr-1 py-1 px-2 bg-yellow text-black rounded-full text-xs">{{tag}}</span>
                      {% endfor %}
                    </p>
                      <p class="text-gray-900 font-bold text-xl my-1">{{post.title}}</p>
                      <p class="text-gray-700 font-semibold text-md my-1">{{post.author}}</p>
                  </div>
                  <p class="text-gray-500 text-sm my-1">{{post.date}} - Tiempo estimado de lectura: {{post.get_estimated_reading_time}} min</p>

                </div>
              </a>
              </div>
          </div>


          {% endfor %}

        </div>
    </div>


{% endblock content %}