{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<style>
  .richtext-image.right {
    margin-right: 0;
    margin-left: auto;
  }
  .richtext-image.full-width {
    margin: auto
  }  
  .rich-text iframe {
    margin: auto;
    height: 50vh;
    width: 50%;
  }
  .rich-text a {
    text-decoration: underline;
    color: blue;
  }
  .reset *:not(p):not(img):not(a):not(iframe):not(.richtext-image) {
    all: revert!important;
  }  
</style>
{% endblock %}

{% block body_class %}bg-white{% endblock %}

{% block content %}
<div class="w-full aspect-5/1 overflow-hidden">
  {% srcset_image page.banner width-{400,2000} class="w-full object-cover" style="height: 50vh!important" %}
</div>

<div class="container px-3 mx-auto flex flex-row flex-wrap lg:justify-center py-20">
  <div class=" lg:w-8/12">
    <h1 class="text-3xl  font-bold">{{ page.title }}</h1>
    <p class="text-xl  my-4">Por {{ page.author }}</p>
    <div class="[&>p]:pb-3 rich-text text-justify reset" id="note-body">{{ page.body|richtext }}</div>
      <p class="text-md text-center mt-4 mb-2">Compartí esta nota en:</p>
      <div class="flex justify-center">
        <a 
          id="whatsapp-share" 
          class="m-1 p-3 border"
          href="#" 
          target="_blank"
          rel="noopener noreferrer"          
          > 
            <i class="bi-whatsapp"></i> Whatsapp
        </a>
        <a 
          id="twitter-share" 
          href="#"
          class="m-1 p-3 border"
          target="_blank"
          rel="noopener noreferrer"          
          > 
            <i class="bi-twitter"></i> Twitter
        </a>
        <a 
          id="linkedin-share" 
          href="#"        
          class="m-1 p-3 border"
          target="_blank"
          rel="noopener noreferrer"          
          > 
            <i class="bi-linkedin"></i> Linkedin
        </a>
      </div>
      <script>
        //////////////////////////////////
        ///// Incorporación Texto para Redes
        //////////////////////////////////

        // Obtener la URL actual
        var currentUrl = window.location.href;
        // Construir el enlace de WhatsApp con la URL actual
        var whatsappLink = "https://api.whatsapp.com/send?text=¡Hola! Te comparto esta nota súper interesante de Democracia en Red 👇%0A%0A" + encodeURIComponent(currentUrl);
        // Asignar el enlace construido al atributo href del elemento a
        document.getElementById("whatsapp-share").href = whatsappLink;
        // Construir el enlace de twitter con la URL actual
        var twitterLink = "https://x.com/intent/tweet?text=Comparto esta nota súper interesante de @fundacionDER 👇%0A%0A" + encodeURIComponent(currentUrl);
        // Asignar el enlace construido al atributo href del elemento a
        document.getElementById("twitter-share").href = twitterLink;
        // Construir el enlace de linkedin con la URL actual
        var linkedinLink = "https://www.linkedin.com/sharing/share-offsite/?url=" + encodeURIComponent(currentUrl);
        // Asignar el enlace construido al atributo href del elemento a
        document.getElementById("linkedin-share").href = linkedinLink;        
      </script>      
      <script>
        //////////////////////////////////
        ///// Agregado target="_blank" a elementos "a"
        //////////////////////////////////

        // Selecciona todos los enlaces dentro del contenedor #note-body
        const links = document.querySelectorAll('#note-body a');

        // Itera sobre cada enlace y le agrega el atributo target="_blank"
        links.forEach(link => {
            link.setAttribute('target', '_blank');
        });
      
      </script>      

      <div class="flex justify-center">
        <a 
          class="mt-8 p-3 border"
          href="/"
          > 
            <i class="bi-arrow-return-left"></i> Volver al blog
        </a>
      </div>      
    <!-- <p class="text-md  mt-5 mb-2">También te podría interesar</p> -->
  </div>
  <div class="w-full text-center lg:w-2/12 lg:text-right">
    <p class="text-md  font-bold mt-8">Autor/a</p>
    <p class="text-sm  mt-1">{{ page.author }}</p>
    <p class="text-md  font-bold mt-8">Publicado</p>
    <p class="text-sm  mt-1">{{ page.date }}</p>    
    <p class="text-md  font-bold mt-8">Etiquetas</p>
    <p class="text-sm">
      {% for tag in page.tags.all %}
      <p class="mt-1 "><span class="py-1 px-2 bg-yellow text-black rounded-full text-xs">{{tag}}</span></p>
    {% endfor %}      
    </p>
  </div>
</div>
  

{% endblock content %}